.to-do-form{
    .user-handler{
        margin: 1rem auto;


        input{
            width: 60%;
            margin: 0 1rem;
            padding: .5rem;
            &:focus{
                border-style: none;
                outline: none;
            }
            
        }
        .user-required{
            width: 60%;
            margin: 0 1rem;
            padding: .5rem;
            border: 1px solid greenyellow !important;
        }

        .user-un-required{
            width: 60%;
            margin: 0 1rem;
            padding: .5rem;
            border: 1px solid red !important;
        }

        .user-button{
            padding: .5rem;
            cursor: pointer;
        }
    }

    
}